<form class="{{cssClass}} flexcol dune asset" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DUNE.Name' }}"/>
            </h1>
        </section>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="flexrow">
    <label for="quality-i">{{ localize 'DUNE.quality' }}</label>
    <input name="data.quality.value" class="flex3" type="number" value="{{data.data.quality.value}}"
           id="quality-i" {{#if playerToken}}disabled{{/if}}/>
      </div>
      <div class="flexrow">
    <label for="notes-i">{{ localize 'DUNE.notes' }}</label>
    <textarea name="data.notes" id="notes-i" class="flex3" rows="8">{{data.data.notes}}</textarea>
      </div>
    </section>
</form>
