<form class="{{cssClass}} flexcol dune house" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <section>
    <div class="flexrow">
      <div class="background flex2">
    <h1 class="section-title">{{ localize "DUNE.Background" }}</h1>
    <div class="flexrow">
      <label for="Name" class="flex1">{{ localize "DUNE.House" }}</label>
          <input name="actor.name" class="flex3" type="text" value="{{actor.name}}" id="Home"/>
    </div>
    <div class="flexrow">
      <label for="homeworld" class="flex1">{{ localize "DUNE.Homeworld" }}</label>
          <input name="data.homeworld" class="flex3" type="text" value="{{data.data.homeworld}}" id="Homeworld"/>
    </div>
    <div class="flexrow">
      <label for="Housetype" class="flex1">{{ localize "DUNE.Housetype" }}</label>
          <input name="data.house_type" class="flex3" type="text" value="{{data.data.house_type}}" id="Housetype"/>
    </div>
    <div class="flexrow">
      <label for="Traits" class="flex1">{{ localize "DUNE.HouseTraits" }}</label>
          <input name="data.traits" class="flex3" type="text" value="{{data.data.traits}}" id="Traits"/>
    </div>
      </div>
      <div class="emblems">
    <img class="profile" src="{{actor.img}}" title="{{ localize 'DUNE.crest' }}" data-edit="img"/>
    <input name="data.motto" type="text" value="{{data.data.motto}}" placeholder="{{ localize 'DUNE.motto' }}"/>
      </div>
      {{#if editable}}
      <span class="soft-lock"
        title="{{#if data.softLock}}{{ localize 'DUNE.unlock' }}{{else}}{{ localize 'DUNE.lock' }}{{/if}}"
        ><i class="fas fa-lock{{#unless data.softLock}}-open{{/unless}}"></i></span>
      {{/if}}
    </div>
    </section>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-tabs sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="main">{{ localize "DUNE.HouseSheet" }}</a>
    <a class="item" data-tab="biography">{{ localize "DUNE.HouseDetails" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab amin" data-group="primary" data-tab="main">
      <div class="domains">
    <h1 class="section-title">{{ localize "DUNE.domains" }}<span class="btn add-domain"><i class="fas fa-plus"></i></span></h1>
    {{#each items}}
    {{#if (eq type 'domain')}}
    {{#if data.primary}}
    {{> "systems/dune/templates/part/domain.html" id=_id data=data }}
    {{/if}}
    {{/if}}
    {{/each}}
    {{#each items}}
    {{#if (eq type 'domain')}}
    {{#unless data.primary}}
    {{> "systems/dune/templates/part/domain.html" id=_id data=data }}
    {{/unless}}
    {{/if}}
    {{/each}}
      </div>
      <div class="roles grid">
    <h1 class="section-title">{{ localize "DUNE.roles.title" }}</h1>
    <ul>
      {{#each data.data.Roles as |role id|}}
      <li>
        <div class="flexrow">
          <label class="flex2"  for="house-role-{{id}}">{{ localize (concat "DUNE.roles." id ) }}</label>
          <input class="flex3" name="data.Roles.{{id}}.name" type="text" value="{{role.name}}" />
        </div>
      </li>
      {{/each}}
    </ul>
      </div>
      <div class="enemies grid">
    <h1 class="section-title">{{ localize "DUNE.enemies" }}<span class="btn add-enemy"><i class="fas fa-plus"></i></span></h1>
    <ul>{{!-- Placeholder for EnemySubSheets --}}</ul>
      </div>
    </div>
    {{!-- Biography Tab --}}
    <div class="tab flexcol biography" data-group="primary" data-tab="biography">
      <h1 style="flex: 0">Biography</h1>
      {{editor content=data.data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
