<form class="{{cssClass}} dune trait flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DUNE.Name' }}"/>
      </h1>
    </section>
  </header>

  <section class="sheet-body flexcol">
    <div class="details flexcol trait">
      <div class="flexrow permanent">
    <label for="permanent" class="form-row">{{ localize 'DUNE.temporary' }}</label>
    <input type="checkbox" name="data.temporary" {{#if data.data.temporary}}checked{{/if}}
           title="{{#if data.temporary}}{{ localize 'DUNE.temporary' }}{{else}}{{ localize 'DUNE.permanent' }}{{/if}}">
      </div>
      <div class="flexrow note">
    <label for="player-note">{{ localize 'DUNE.items.note' }}</label>
    <input name="data.note" id="player-note" type="text" value="{{data.data.note}}"/>
      </div>
    </div>
  </section>
</form>
