.momentum-threat.tracker-container .tracker .button-group > div {
  display: inline-block;
}
.momentum-threat.tracker-container .tracker .button-group input {
  width: 130px;
  margin: 0 10px;
}
.momentum-threat.tracker-container .disabled {
  opacity: 0.5;
}
.dune-form input:invalid {
  background-color: rgba(105, 0, 8, 0.6);
}
.dune-form fieldset {
  border: none;
}
.dune-form fieldset h5 {
  margin: 0;
  text-align: center;
}
.dune-form fieldset label {
  margin-left: 1em;
}
.dune-form .dice-pool fieldset label .value,
.dune-form .flexrow label .value {
  float: right;
  opacity: 0.6;
}
.dune-form .focus-list .hidden {
  display: none;
  opacity: 0.6;
  text-align: right;
}
.dune-form .focus-list .hidden.show {
  display: inline;
}
.sheet .dune.house .background {
  margin-right: 1em;
}
.sheet .dune.house .emblems {
  text-align: center;
}
.sheet .dune.house .emblems img {
  max-height: 128px;
  display: block;
  margin: 0 auto;
  height: auto;
  border: none;
}
.sheet header.sheet-header img.bigger {
  height: initial;
  min-height: 64px;
  max-height: 256px;
}
.sheet .dune ul {
  list-style: none;
}
.sheet .dune.house .grid ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em 1em;
}
.float-right {
  float: right;
}
.sheet .dune h1 .btn {
  float: right;
  margin-top: 1em;
  font-size: 0.5em;
}
.sheet .dune h2 .btn {
  float: right;
  margin-top: 0.5em;
  font-size: 0.66em;
}
.sheet .dune.house .domain .hidden {
  display: none;
}
.sheet .dune.house .flexrow > .second {
  margin-left: 0.5em;
}
.sheet .dune ul {
  padding-left: 0;
}
.sheet .dune .sheet-header {
  flex: 0;
  margin-bottom: 0.5em;
}
.sheet .dune nav {
  flex: 0;
}
.sheet .dune .sheet-body {
  flex: 1;
}
.sheet .dune .drives ul,
.sheet .dune .skills ul {
  margin: 0;
}
.sheet .dune .second {
  margin-left: 0.5em;
}
.sheet .dune .trait > button,
.sheet .dune .asset > button,
.sheet .dune .talent button,
.sheet .dune .domain button,
.sheet .dune .enemy button {
  line-height: 16px;
  flex: 0;
}
.sheet .dune .asset > input[type="number"] {
  flex: 0;
  width: 48px;
}
.sheet .window-content .dune .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sheet .dune .biography .editor-content {
  max-width: 32em;
  margin: 0 auto;
  text-align: justify;
}
.dune.talent.limited .description,
.dune.talent.limited .rule,
.dune.talent.limited .details {
  margin: 0.4em 0.4em;
  text-align: justify;
}
.dune .talents .talent b {
  white-space: nowrap;
}
.dune .talents .talent .description,
.dune.talent.limited .description {
  font-style: italic;
}
.dune.talent.editable .sheet-body {
  margin: 0 10px;
}
.dune .talent .player-note {
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.5;
  white-space: nowrap;
}
.sheet .dune header.sheet-header .soft-lock {
  flex: 0;
}
.sheet .dune textarea {
  border: 1px solid #7a7971;
  border-radius: 3px;
}
.sheet .dune textarea[disabled] {
  border: 0;
}
.sheet .dune.house textarea {
  margin-left: -3px;
}
.dune textarea:disabled {
  resize: none;
}

.sheet .dune .asset input[type="checkbox"]:before,
.sheet .dune .trait input[type="checkbox"]:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding: 4px 3px 2px 3px;
  width: 17px;
  height: 17px;
  text-align: center;
  visibility: visible;
  content: "\f534"; /* infinity */
  border: 1px solid #7a7971;
  border-radius: 3px;
  background-color: white;
  font-weight: 900;
}
.sheet .dune .asset input[type="checkbox"]:checked:before,
.sheet .dune .trait input[type="checkbox"]:checked:before {
  content: "\f254"; /* hourglass */
  font-weight: initial;
}
.sheet .dune .asset input[type="checkbox"],
.sheet .dune .trait input[type="checkbox"] {
  visibility: hidden;
  margin: 0 6px 0 2px;
}
.sheet .dune .form-row {
  height: 26px;
}
